<div class="container">
  <p>You are logged in as {{userEmail}}</p>
  <p>Here, you can check on your favorite stocks</p>
  <div class="menubar">
    <form (ngSubmit)="saveStockInDatabase()" [formGroup]="formGroup">
      <p-autoComplete formControlName="selectedStockSymbol" [dropdown]="true" [suggestions]="filteredStocks" (completeMethod)="filterStock($event)" field="name"></p-autoComplete>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div>
    <p>These are your previously selected stocks</p>
  </div>
  <p-table [value]="preferredStocksObject" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Currency</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-savedStock>
        <tr>
            <td>{{ savedStock.symbol }}</td>
            <td>{{ savedStock.name }}</td>
            <td>{{ savedStock.currency }}</td>
            <td (click)="deleteStockFromTable(savedStock.symbol)" role="button">delete</td>
        </tr>
    </ng-template>
</p-table>
<p-button (onClick)="logout()">Logout</p-button>
</div>
