.chart {
  height: 400px;
  width: 766px;
  background-color: rgb(247, 247, 250);
  padding: 16px;
  position: relative;
  border-radius: 5px;
}

.menubar {
  height: 40px;
  width: 100%;
  background-color: rgb(84, 84, 99);
}
